<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node Upload Multer</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
    <div class="container">
        <h2>File Upload</h2>
        <%= typeof msg != 'undefined' ? msg : '' %>
        <form class="col s12" action="/upload" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="input-field col s6">
                    <input name="firstName" placeholder="Placeholder" id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input name="lastName" id="last_name" type="text" class="validate">
                    <label for="last_name">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input name="email" id="email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="file-field input-field">
                <div class="btn grey">
                    <span>File</span>
                    <input type="file" name="image">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
            <button type="submit" class="btn">Submit</button>
        </form>
        <br>


        <% if(typeof file !== 'undefined'){ %>
        <div class="row">
            <div style="display: flex;flex-direction: row;">
                <div class="col s6 m7">
                    <div class="card">
                        <div class="card-image">
                            <img src="<%= typeof file != 'undefined' ? file : '' %>" class="responsive-img"
                                alt="Image Upload">
                            <span class="card-title">Uploaded</span>
                        </div>
                    </div>
                </div>
                <div class="col s6 m7">
                    <div class="card">
                        <ul style="padding: 15px;">
                            <li>First Name : <%= typeof firstName != 'undefined' ? firstName : '' %></li>
                            <li>Last name : <%= typeof lastName != 'undefined' ? lastName : '' %></li>
                            <li>Email : <%= typeof email != 'undefined' ? email : '' %></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>